<footer class="footer bg-dark py-3 mt-auto">
  <div class="container">
    <span class="text-muted">&copy; YelpCamp 2024</span>
  </div>
</footer>

Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur fugiat cum quo molestiae, doloremque voluptas voluptatibus alias qui, consectetur autem excepturi ipsa molestias similique perferendis hic repellendus eum! Aperiam, impedit? GREAT